@use 'variables';

.attractions {
    width: 100%;
    background-image: var(--bg-second-linear-gradient);
    padding-block: 56px;
    color: var(--text-second-color);

    &__content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 16px;

        @media (max-width: 720px) {
            grid-template-columns: 1fr 1fr;
        }

        @media (max-width: 540px) {
            grid-template-columns: 1fr;
        }

        &__card {
            text-align: center;
            padding: 16px;

            img {
                max-width: 300px;
                width: 100%;
                max-height: 150px;
                border: 7px solid;
                border-image: var(--linear-gradient-first) 1;
            }

            h3 {
                font-size: 28px;
                margin: 8px 0;
                color: var(--text-stroke-color);
            }

            p {
                font-size: 15px;
            }
        }
    }

    &__title {
        font-size: 50px;
        margin-bottom: 16px;
        text-align: center;
        -webkit-text-stroke: 2px var(--text-stroke-color);
        font-style: italic;
        font-weight: bold;
        color: var(--text-primary-color);
    }
}