.counter {
    padding-block: 56px;
    background-image: var(--bg-second-linear-gradient);
    
    &__content {
        background-color: var(--text-primary-color);
        padding: 16px;
        border: 7px solid;
        border-image: var(--linear-gradient-first) 1;
        text-align: center;

        &__title {
            font-size: 50px;
            margin-bottom: 16px;
            color: var(--text-stroke-color);
            -webkit-text-stroke: 2px var(--text-second-color);
            font-style: italic;
            font-weight: bold;
    
            @media (max-width: 720px) {
                font-size: 44px;
            }
        }
    
        &__text {
            font-size: 35px;
            color: var(--text-stroke-color);

            span {
                -webkit-text-stroke: 2px var(--text-stroke-color);
            }
        }
    }
}