:root {
    --text-primary-color: #fff;
    --text-second-color: #383a3b;
    --text-stroke-color: #663bac;
    --linear-gradient-first: linear-gradient(29deg, #237eac, #663bac 59%, #df7e34 90%);
    --bg-first-linear-gradient: linear-gradient(#f3e8d2, #deb27f);
    --bg-second-linear-gradient: linear-gradient(#deb27f,  #f3e8d2);
}